<div id="sidebar-right">
	<div class="row">
		<div class="col" id="mouse"><img class="annotation-tool" src="resources/images/mouse.png"/></div>
	</div>
	<div class="row">	
		<div class="col" id="highlight"><img class="annotation-tool" src="resources/images/highlighter.png"/></div>
		<div class="col" id="bold"><p class="annotation-tool">B</p></div>
		<div class="col" id="underline"><p class="annotation-tool">U</p></div>
	</div>
	<div class="row">
		<div class="col" id="markout"><img class="annotation-tool" src="resources/images/red_cross.png"/></div>
		<div class="col" id="strike"><p class="annotation-tool">S</p></div>
		<div class="col" id="comment"><img class="annotation-tool" src="resources/images/comment.png"/></div>
	</div>
</div>