<div class="boostogy-settings">
    <h3>Basic Options</h3>
    <div class="form-group">
        <div class="form-item">
            <label class="option" for="auto_load">
                <input type="checkbox" id="auto_load" name="auto_scroll">
                <span>Autoscroll Pages <i>(Scroll Through Feeds Without Pressing More)</i></span>
            </label>
        </div>
        <div class="form-item">
            <label class="option" for="show_circles">
                <input type="checkbox" id="show_circles" name="show_circles">
                <span>Circle Profile Icons <i>(Convert All Profile Icons Into Circles)</i></span>
            </label>
        </div>
    </div>

    <h3>Synced Boostogy Users</h3>
    <ul class="user-list"></ul>
</div>